.formContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
